
html {
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;

    -o-user-select: none;
    width: 100%;
    height: 100%;
}

::selection {
    background: transparent;
}

body {
    text-align: center;
    font-family: -apple-system, roboto, "Helvetica Neue", "Lucida Grande", sans-serif;
    color: #333;
    margin: 0;
    width: 100%;
    height: 100%;

}

.noselect {
     -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

a {
    font-weight: 300;
}

.mdl-color--primary {
    background-color: rgb(63, 81, 181) !important;
}

.mdl-color--primary-contrast {
    background-color: rgb(255, 255, 255) !important;
}

.mdl-color--primary-dark {
    background-color: rgb(48, 63, 159) !important;
}

.mdl-color--accent {
    background-color: rgb(255, 105, 45) !important;
}

.mdl-color--accent-contrast {
    background-color: rgb(255, 255, 255) !important;
}

.mdl-color-text--primary {
    color: rgb(63, 81, 181) !important;
}

.mdl-color-text--primary-contrast {
    color: rgb(255, 255, 255) !important;
}

.mdl-color-text--primary-dark {
    color: rgb(48, 63, 159) !important;
}

.mdl-color-text--accent {
    color: rgb(255, 157, 72) !important;
}

.mdl-color-text--accent-contrast {
    color: rgb(255, 255, 255) !important;
}

.background {
    background-color: rgb(63, 81, 181);
}
